li{
    list-style: none;
}

h4{
    padding: 10px;
    text-align: center;
}

.card{
    /* border: 1px solid gray; */
    padding: 10px;
    /* margin: 2px; */
    text-align: center;
    
}

.card-head{
    border-style:groove;
}

.text{
    text-align: center;
}

.container{
    padding: 10px;
}

/* *{
    border-style: dotted;
} */